.App {
  min-height: 100vh-3.5rem;
  overflow-y: auto;
  flex: 1;
  width: 85vw;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.App h1 {
  text-align: center;
}

.ComboboxContainer {
  width: 100%;
  text-align: center;
}

[data-reach-combobox-input] {
  width: 300px;
  height: 1.5rem;
  font-size: 1.1rem;
}

.Center {
  text-align: center;
}

/*

[data-reach-combobox-popover] {
    width: !important;
}

[data-reach-combobox-list] {
    width: 100% !important;
} */

/* the string portions that match what the user has typed */
[data-user-value] {
  font-weight: bold;
}
/* the string portions are suggested */
[data-suggested-value] {
  font-weight: normal;
  color: grey;
}

.loader,
.loader:before,
.loader:after {
  background: #875317;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #875317;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
